MONGODB_URI=
MONGODB_DB_NAME=wallet-tree

LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

LINE_LOGIN_CHANNEL_ID=
LINE_LOGIN_CHANNEL_SECRET=
LINE_LOGIN_CALLBACK_URL=http://localhost:3000/api/auth/line/callback

FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173

SESSION_SECRET=
CSRF_SECRET=
NEXT_PUBLIC_BACKEND_URL=http://localhost:3000
